<!DOCTYPE html>
<meta charset=utf-8>
<html lang="en">
	<head>
		<title>I AM HERE</title>
	</head>
	<body>
		<Canvas id="videoCanvas" width="320" height="240">
		</Canvas>
		<button id="decode" style="position:absolute;top:225px;left:330px" onclick="Decode()">Start</button>
		<p id="Result" style="position:absolute;top:275px;"></p>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="JOB.js"></script>
		<script src="script.js"></script>
		<button onclick="sendData(21142230523404)"></button>
	</body>
</html>